@namespace BlazorApp
@page "/decorate"
@inject IJSRuntime JSRuntime
@inject IResizeListener ResizeListener

<p>@innerWidth</p>
<p>@innerHeight</p>

@code {
    int innerWidth => browserWindowSize.Width;
    int innerHeight => browserWindowSize.Height;

    BrowserWindowSize browserWindowSize = new BrowserWindowSize();

    protected override async Task OnInitializedAsync()
    {

        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //innerHeight = await JSRuntime.InvokeAsync<int>("getInnerHeight");
        //innerWidth = await JSRuntime.InvokeAsync<int>("getInnerWidth");

        if (firstRender)
            ResizeListener.OnResized += WindowResized;
        await base.OnAfterRenderAsync(firstRender);
    }

    async void WindowResized(object _, BrowserWindowSize browserWindowSize)
    {
        this.browserWindowSize = browserWindowSize;
        StateHasChanged(); // We're outside the component lifecycle, force re-render
    }

}
