Skip to content
Product
Solutions
Open Source
Pricing
Search
Sign in
Sign up
This repository has been archived by the owner before Nov 9, 2022. It is now read-only.
mdn
/
samples-server
Public archive
Code
Issues
26
Pull requests
17
Actions
Projects
Wiki
Security
Insights
samples-server/s/webrtc-capturestill/main.css
@a2sheppy
a2sheppy Initial commit.
…
Latest commit 2b7edcf on Sep 8, 2014
History
1 contributor
47 lines (41 sloc) 802 Bytes

#video {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width: 320px;
    height: 240px;
}

#photo {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width: 320px;
    height: 240px;
}

#canvas {
    display: none;
}

.camera {
    width: 340px;
    display: inline-block;
}

.output {
    width: 340px;
    display: inline-block;
}

#startbutton {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 32px;
    background-color: rgba(0, 150, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    color: rgba(255, 255, 255, 1.0);
}

.contentarea {
    font-size: 16px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    width: 760px;
}

Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
samples-server/main.css at master · mdn/samples-server · GitHub
