@namespace BlazorApp
@page "/SkiaSharp"

<h3>SkiaSharpPage</h3>

<img src="@imgdata" />


@code {
	private string imgdata = string.Empty;

	protected override Task OnInitializedAsync()
	{
		// Create Image in SKia
		var info = new SKImageInfo(256, 256);

		using (var surface = SKSurface.Create(info))
		{
			// the the canvas and properties
			var canvas = surface.Canvas;

			// make sure the canvas is blank
			canvas.Clear(SKColors.White);

			// draw some text
			var paint = new SKPaint
				{
					Color = SKColors.Black,
					IsAntialias = true,
					Style = SKPaintStyle.Fill,
					TextAlign = SKTextAlign.Center,
					TextSize = 24
				};
			var coord = new SKPoint(info.Width / 2, (info.Height + paint.TextSize) / 2);
			canvas.DrawText("SkiaSharp", coord, paint);
				
			imgdata = "data:image/png;base64," 
				+ Convert.ToBase64String(
					surface
					.Snapshot()
					.Encode(SKEncodedImageFormat.Png, 100)
					.ToArray());

		}


    return base.OnInitializedAsync();
    }




}
