@namespace BlazorApp
@page "/skiasharpblazor"
<h3>SkiaSharpBlazor</h3>
<SKCanvasView OnPaintSurface="PaintSurface"/>

@code {
    // https://learn.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/graphics/skiasharp/

    void PaintSurface(SKPaintSurfaceEventArgs  e)
    {
        var canvas = e.Surface.Canvas;
        canvas.Clear(SKColors.Green);
        var paint = new SKPaint { Color = SKColors.SkyBlue, };
        canvas.DrawLine(0, 0, 200, 200, paint);

    }

}
