@namespace Blazorise.AnnotatedImage
@inherits BaseComponent 
<div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    @ChildContent
</div>

@code {
    #region Members 

    #endregion

    #region Methods 



    #endregion

    #region Properties 
    /// <summary>
    /// Gets or sets the reference to the parent component.
    /// </summary>
    [Parameter] public RenderFragment? ChildContent { get; set; }
    #endregion
}