@namespace Blazorise.AnnotatedImage
@inherits BaseComponent
<div @onclick:preventDefault="true"
     draggable="false"
     @ref="elementRef"
     @onpointerdown=PointerDown
     @onpointermove=PointerMove
     @onpointerup=PointerUp
     class="imageannotationcontainer"
     style="@containerPos">
    <img draggable="false"
         src="@Source"
         class="figure-img img-fluid imageannotation"
          />
</div>



