@namespace Blazorise.AnnotatedImage
@inherits BaseComponent
<div @onclick:preventDefault="true"
     draggable="false"
     @ref="ElementRef"
     id="@ElementId" class="@ClassNames" @attributes="@Attributes"
     @onpointerdown=PointerDown
     @onpointermove=PointerMove
     @onpointerup=PointerUp
     style="@containerPos">
    <img draggable="false"
         @ref="ImgRef"
         src="@ImageAnnotationData!.Source"
         class="figure-img img-fluid"
          />
</div>



